.modal-return-review{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.modal-return-review > h2
{
    color:  white;
}

.modal-wrapper-review{
    position: relative;
    background-color:white;
    height: 90vh;
    width: 90vw;
    display: flex;
  
    justify-content: space-around;
    align-items: center;
}

.exit-modal-review
{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background: none;
    border: none;
    position: absolute;
    top: 0px;
    right: 15px;

}

.ap-img-user-review{
    height: 100px;
    width: 100px;
}

.ap-review-section
{
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.ap-review-article
{
    display: flex;
    width: 400px;
    height: 200px;
}
.ap-review-header
{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ap-review-mark
{
    display: flex;
    flex-direction: column;
    
}

.ap-review-body-comment
{
    flex: 3;
  
}

.ap-comment-review
{
    height: 120px;
    width: 100%;
    font-size: 13px;
    overflow-y: scroll;
}

.ap-review-text
{
    text-align: center;
    margin: 0px 5px;
}

.ap-mark-review{
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.ap-review-button
{
    width: 60px;
    margin: 0px  5px;
}

