.filter-btn{
    cursor: pointer;
    height: 30px;
    border: 1px solid #4eace6;
    padding: 5px 10px;
    margin: 10px 5px;
    background-color: #fff;
    color: #4eace6;
    border-radius: 5px;
}

.filter-btn:hover{
    color: #fff;
    background-color: #4eace6;
}