.register{
    display: flex;
    height: 600px;
    width: 80%;
    flex-direction: row;
    align-self: center;
    margin: 20px auto;
}

.register-form
{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px;
}

.register-label
{
    margin: 10px 0px;
    height: 20px;
}

.register-description
{
    width: 100%;
    height: 70px;
}

.register-input
{
    height: 30px;
}

.register-button
{
    height: 30px;
    width: 100px;
    margin: 10px auto;
}
.section-image
{
    height: 300px;
    width: 100%;
}
.section-image-preview
{
    height: 100%;
    width: 100%;
}
.section-input-file
{
    margin: 10px 0px;
}
.section-register-image{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px;
}