.cart{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.cart-article{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.remove-product-btn
{
  width: 70%;
  height: 40px;   
  margin: 20px auto;
  border: 1px solid #4eace6;
  color: #fff;
  background-color: #4eace6;
  border-radius: 5px;
}
.remove-product-btn:hover
{
  cursor: pointer;
  background-color: #fff;
  color: #4eace6;
}

.buy-product
{
  width: 150px;
  height: 40px;
  margin-top: 50px;
  border: 1px solid #4eace6;
  color: #fff;
  background-color: #4eace6;
  border-radius: 5px;
}

.buy-product:hover
{
  cursor: pointer;
  background-color: #fff;
  color: #4eace6;
}

@media (max-width: 500px) {
  .cart-article
  {
    justify-content: center;
  }
}