.profile{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5px;
    justify-content: center;
}

.section-profile-image{
    display: flex;
    width: 250px;
    margin: 15px 5px;
    flex-direction: column;
}

.date-create-profile
{

    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.profile-image{
    width: 250px;
    height: 250px;
}

.profile-information
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    height: 100%;
    width: 350px;
}

.profile-information-user
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
    width: 250px;
}




.profile-information > .current-information-wrapper:last-child{
    height: 55px;
    
}

.profile-information > .current-information-wrapper:last-child > .current-information{
    align-items: center ;
    justify-content: flex-end;
}

.profile-name{
    margin-left: 5px;
}

.current-information-wrapper, .current-information-details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.current-information-wrapper{
    height: 50px;
    margin: 5px 0px;
}

.current-information-wrapper-button
{
    display: flex;
    justify-content: center;
}

.edit-button-information
{
    width: 80px;
    height: 30px;
    margin: 5px auto;
    border: 1px solid #4eace6;
    color: #fff;
    background-color: #4eace6;
    border-radius: 5px;
}

.edit-button-information:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4eace6;
}

.current-information-button
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.current-information-details{
    height: 40%;
}

.time-create-user-label
{
    margin: 5px auto;
}


.time-create-user{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0px;
}

.current-information
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
}


.current-information-info
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.profile-place-select
{
    width: 153px;
    text-align: center;
    margin: 5px 0;
}


.edit-button{
    width: 80px;
    height: 30px;
    margin: 5px auto;
    border: 1px solid #4eace6;
    color: #fff;
    background-color: #4eace6;
    border-radius: 5px;
}

.edit-button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4eace6;
}

.edit-button-image{
    width: 80px;
    height: 30px;
    margin: 20px auto;
    border: 1px solid #4eace6;
    color: #fff;
    background-color: #4eace6;
    border-radius: 5px;
}

.edit-button-image:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4eace6;
}

.profile-product-name
{
    height: 20px;
    width: 100%;
    margin: 5px 0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
}

.profile-product a {
    text-decoration: none;
}


.profile-product-link
{
    display: flex;
    width: 150px;
    height: 85%;
}

.profile-product{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
    height: 90%;
    margin: 10px auto;
}

.current-profile-product
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 250px;
    width: 150px;
    margin: 10px 10px;
}
.profile-product-image
{
    height: 160px;
    width: 100%;
}

.product-profile-button
{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-around;
}

.change-product{
    width: 50px;
    height: 30px;
    border: 1px solid #4eace6;
    color: #fff;
    background-color: #4eace6;
    border-radius: 5px;
}

.change-product:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4eace6;
}


.change-password-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.user-data
{
    padding: 5px;
    height: 150px;
    width: 95%;
}
.user-data-p
{
    padding: 5px;
    text-align: center;
    width: 100%;
}

@media (min-width: 1000px) {
    .profile{
        display: flex;
        width: 1000px;
        margin: 10px auto;
    }

}

@media (max-width: 400px)
{
    .profile-image
    {
        width: 100%;
        height: auto;
    }
    .profile-information
    {
        width: 100%;
    }
    .current-information-wrapper
    {
        flex-wrap: wrap;
        height: 120px;
    }
    .current-information-button{
        flex-wrap: nowrap;
    }
}
