.profile{
    height: 330px;
    width: 80%;
    display: flex;
    margin: 10px 50px;
    flex-wrap:wrap;
    justify-content: center;
}

.section-profile-image{
    display: flex;
    width: 30%;
    height: 100%;
    margin: 7px 5px;
    flex-direction: column;
    justify-content: space-between;
}

.date-create-profile
{

    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.profile-image{
    width: 100%;
    height: 70%;
}

.profile-information
{
    display: flex;
    border-left: 1px solid black;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    height: 100%;
    width: 40%;
}

.profile-information:last-child{
    width: 20%;
   
    
}

.profile-information > .current-information-wrapper:last-child{
    height: 20%;
    
}

.profile-information > .current-information-wrapper:last-child > .current-information{
    align-items: center ;
    justify-content: flex-end;
}

.profile-name{
    margin-left: 5px;
}

.current-information-wrapper, .current-information-details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.current-information-wrapper{
    height: 20%;
}

.current-information-details{
    height: 40%;
}

.time-create-user-label
{
    margin: 5px auto;
}


.time-create-user{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.current-information
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}


.current-information-info
{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.edit-button{
    width: 80px;
    height: 30px;
    margin: 5px auto;
}

.profile-product-name
{
    height: 20px;
    width: 100%;
    margin: 5px 0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
}

.profile-product a {
    text-decoration: none;
}


.profile-product-link
{
    display: flex;
    width: 150px;
    height: 90%;
}

.profile-product{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.current-profile-product
{
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 150px;
    margin: 10px 10px;
}
.profile-product-image
{
    height: 160px;
    width: 100%;
}

.product-profile-button
{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-around;
}

.change-product{
    width: 50px;
    height: 30px;
}

.user-data
{
    padding: 5px;
    height: 100%;
    width: 100%;
}

@media (min-width: 1000px) {
    .profile{
        display: flex;
        width: 900px;
        height: 330px;
        margin: 10px auto;
    }
    .current-information
    {
        border-left: none;
    }

}
