.categories{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
}

.category-article{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 15px;
    text-decoration: none;
}

.category-article:hover{
    background-color: #4eace6;
    color: #fff;
    cursor: pointer;
}

.category-article-image{
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-right: 20px;
}

.subcategories{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.subcategory-article{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subcategory-article-image{
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 20px;
}

