
.section-product
{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-picture
{
    height: 400px;
    width: 400px;
    padding: 5px 20px;
}

.product-picture-wrapper{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.product-picture-img
{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.product-price-div
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.images
{
    width: 100%;
   
}

.product-buy
{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    padding: 0 10px;
 
}

.product-buy > h3{
    text-align: center;
}

.product-buy-button
{
    width: 70%;
    height: 40px;
    margin: auto;
    border: 1px solid #4eace6;
    color: #fff;
    background-color: #4eace6;
    border-radius: 5px;
}

.product-buy-button:hover{
    background-color: #fff;
    color: #4eace6;
}


.product-buy-button-auction
{
    width: 30%;
    height: 30px;
    align-self:center;
    border: 1px solid #4eace6;
    color: #fff;
    background-color: #4eace6;
    border-radius: 5px;
    
}

.product-buy-button-auction:hover{
    background-color: #fff;
    color: #4eace6;
   
}



.product-wish-button{
    width: 70%;
    margin: 0 auto;
    height: 40px;
    border: 1px solid #4eace6;
    background-color: #fff;
    color: #4eace6;
    border-radius: 5px;
}

.product-wish-button:hover
{
    color: #fff;
    background-color: #4eace6;
    
  
}

.number-of-like-wish
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:5px;
}

.product-price
{
    display: flex;
    justify-content: space-between;
}

.number-of-view-div
{
    display: flex;
}

.number-of-view
{
    margin: 0 auto;
    
}

.product-info
{
    width: 450px;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;   
}
.product-information
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0; 
}

.product-inform
{
    overflow-y: scroll; 
    height: 80%;
}

.user-information
{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}



.user-information-label
{
    width: 100%;
    margin: 5px 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.user-information-data-time{
    display: flax;
    flex-direction: column;
    margin-top: 7px;
}


.product-information-span
{
    text-align: end;
}



.user-header{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: space-between;
}



.user-header > h3{
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.user-header-product{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
  
}

.user-header-user
{
    text-decoration: none;
    color: black;
}

.section-product-info
{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.section-product-details
{
    width: 100%;
    margin: 30px 0px;
    height: auto;
    position: relative;
    display: flex;  
    justify-content: center;
}

.product-details-text 
{
    margin: 0 10px;
    padding: 10px 0;
    width: 90%;
    height: auto;
}
.product-details-text > p 
{
    
    padding: 10px 0;
}

.product-inform 
{
    padding: 10px;
}

.product-info > h3
{
  text-align: center;
  height: 10%;
  margin: 10px 0px;
}


.input-review{
    
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border: 1px solid #4eace6;
  color: #fff;
  background-color: #4eace6;
  border-radius: 5px;
}

.section-modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 60;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-modal{
    z-index: 5;
    height: 300px;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.user-header-product > img
{
    width: 100%;
}



.modal-input
{
    height: 20px;
    margin-right: 10px;
    width: 30%
}

.price-input
{
    width: 60%;
    height: 25px;
    margin: auto 0px;
    
}

.modal-textarea
{
    width: 67%;
    
}

.modal-content
{   display: flex;
    flex-wrap: wrap;
    height: 70%;
    width: 100%;
}

.exit-modal
{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background: none;
    border: none;
    position: absolute;
    top: 0px;
    right: 5px;
}

.add-review-btn{
    width: 160px;
    height: 30px;
    border: 1px solid #4eace6;
    color: #fff;
    background-color: #4eace6;
    border-radius: 5px;
}

.add-review-btn:hover
{
  cursor: pointer;
  background-color: #fff;
  color: #4eace6;
}

.review-section{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: center;
}

.review-article
{
    width: 300px;
    height: 200px;
    margin: 20px 0px;
}

.img-user-review
{
 width: 100px;
 height: 100px;
 object-fit: cover;
    
}
.review-header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mark-review {
    height: auto;
    margin: 10px 0;
}

.review-mark
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-body-comment
{
    margin: 10px 0;
    padding: 0 10px;
}

.comment-review
{
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}
.review-body-comment > h3
{
    margin-bottom: 10px;
    
}

.like-div{
    width: 100%;
    display: flex;
    justify-content: row;
    
}

.like-product
{
    width: 50px;
    height: 25px;
    border: none;
    background-color: #fff;
    color: #4eace6;
    border-radius: 5px; 
    border: 1px solid #4eace6; 
}

.like-product:hover
{
    color: #fff;
    background-color: #4eace6;
}

.purchase-container{
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
}
.auction-information
{
    display: flex;
    width: 100%;
    height: 20px;
    
}

.minimum-price
{
    width: 60%;
    height: 100%;
    display: flex;
   

}

.user-information-labels
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;

}

.auction-input-price{
    width: 100%;
    height: 30px;
   display: flex;
   justify-content: space-between;
}



@media (min-width: 1000px) {
    .section-product{
        width: 100%;
        height: 400px;
    }
    .product-picture 
    {
        width: 450px;
    }
    .product-buy
    {
        width: 450px;
        height: 100%;
    }
    .section-product-info
    {
        width: 100%;
    }
    .review-section
    {
        width: 900px;
    }
    .input-review
    {
        right: 15%;
    }
    .line-comment
    {
        width:  70%;
        margin: 50px auto 0 auto;
    }
    .product-details-text
    {
        width: 850px;
        height: auto;
    }
}

@media (max-width: 700px)
{
    .section-product{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .product-picture
    {
        width: 70%;
        height: auto;
    }
    .product-buy
    {
        width: 70%;
        height: 400px;
    }
    
    .section-product-info
    {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    

    .user-information{
        width: 70%;
    }
    
    .product-info
    {
        width: 70%;
    }

    .user-header{
        width: 70%;
        align-self: center;    
    }
    .product-details-text
    {
        width: 70%;
        height: auto;
    }

    .section-modal{
        width: 80%;
    }
}

@media (max-width: 400px)
{
    .section-product{
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .section-product-info
    {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .user-information
    {
        width: 95%;
    }
    
    .product-info
    {
        width: 95%;
        margin-top: 20px;
    }

    .product-picture
    {
        width: 300px;
        height: 250px;
    }
    .product-buy
    {
        height: 600px;
        width: 95%;
    }

    .purchase-container
    {
        height: 250px;
    }

    .auction-input-price{
        flex-direction: column;
        justify-content: center;
        height: 70px;
    }
    .price-input
    {
        width: 100%;
    }

    .user-information{
        width: 95%;
    }
    .user-header{
        width: 95%;  
        flex-direction: column;  
    }

    .user-header > h3 {
        width: 100%;
    }
    .user-header-product
    {
        display: flex;
       align-self: center;
       margin: 10px 0px;
    }
}