.navbar{
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #4eace6;
    align-items: center;
    position: sticky;
    z-index: 10;
}

.navbar-link{
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s linear;
    border-radius: 5px;
}

.navbar-link:hover{
    color: #4eace6;
    background-color: #fff;
}

.navbar-links{
    width: 25%;
}

.navbar-settings{
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-profile{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-profile-image{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  
}

.navbar-cart, .notification, .user-product{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 15px;
    transition: 0.2s linear;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

.navbar-cart:hover, .notification:hover, .user-product:hover{
    color: #4eace6;
    background-color: #fff;
}

.logout-btn{
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #4eace6;
    color: #fff;  
    font-size: 15px;
    text-transform: uppercase;
}

.logout-btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4eace6;
}

.navbar-link-add{
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    border: none;
    background-color: #4eace6;
    color: #fff;  
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-link-add:hover{
    cursor: pointer;
    background-color: #fff;
    color: #4eace6;
}

.profile-link
{
    width: 40%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end ;
}
