.add-product-form{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-container{
    display: flex;
    width: 70%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

.add-product-information{
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 250px;
}

.left-container{
    height: 100%;
    width: 32.5%;
    display: flex;
    padding-right: 20px;
    flex-direction: column;
}

.add-product-input{
    width: 100%;
    margin: 5px 0;
}

.add-product-details{
    width: 100%;
    margin: 5px 0;
    height: 100px;
}

.image-preview{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.add-product-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.middle-container{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-container{
    padding-left: 20px;
    height: 100%;
    width: 32.5%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.pi-input
{
    width: 90%;
    margin: 5px 0;
}

.add-product-btn
{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px ;
    border: 1px solid black;
}

.add-product-select
{
    width: 100px;
    text-align: center;
}