.add-product-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-btn{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #4eace6;
    color: #fff;
    margin: 10px 0px;
    font-size: small;
    border: none;
    border-radius: 5px;
    
}

.input-btn:hover{
    background-color: #fff;
    color: #4eace6;
    border: 1px solid #4eace6;
}

.select-container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

.add-product-information{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70%;
}

.purchase-product
{
    display: flex;
    flex-direction: column;
   
}

.purchase
{
    display: flex;
    justify-content: space-between;
}


.left-container{
    height: 100%;
    width: 300px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.add-product-picture-input
{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.add-product-input{
    width: 100%;
    margin: 5px 0;
}

.add-product-details{
    width: 100%;
    margin: 5px 0;
    height: 100px;
}

.image-preview{
    width: 100%;
    height: 250px;
    margin-top: 10px;
}

.add-product-category
{
    display: flex;
    flex-wrap: wrap;
}

.add-product-category >h4
{
    margin-right: 10px;
}
.add-product-group
{
    display: flex;
    flex-wrap: wrap;
}

.add-product-group >h4
{
    margin-right: 10px;
}

.add-product-image{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.middle-container{
    width: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.right-container{
    
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 20px;
}

.pi-input
{
    width: 90%;
    margin: 5px 0;
}

.add-product-btn
{
    width: 150px;
    height: 40px;
    margin: auto;
    border: none;
    color: #fff;
    background-color: #4eace6;
   
    border-radius: 5px;
}

.add-product-btn:hover{
    background-color: white;
    color: #4eace6;
    border: 1px solid #4eace6;
}

.add-product-select
{
    width: 100px;
    text-align: center;
    margin: 5px 0;
}

.image-edit-btn
{
    width: 100px;
    height: 30px;
    margin: 10px auto ;
}

@media (max-width: 1050px)
{
    .middle-container
    {
        height: 400px;
    }

    .add-product-information{
        height: auto;
    }

    .left-container{
        height: 50%;
    }
    .right-container{
        height: 50%;
    }
}