.change-user{
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.change-user-list{
    height: 400px;
    width: 400px;
    overflow-y: scroll;
}

.change-single-user{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 5px 10px;
    background-color: #1ad1d1;
    color: #fff;
    border-radius: 10px;
}

.change-user-img-container{
    flex: 3;
}

.change-user-image{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.change-user-name{
    flex: 7;
}

.change-user-username{
    flex: 4;
}

.change-user-delete{
    flex: 2;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    color: #fff;
    background-color: #c20505;
    border-radius: 5px;
}


.change-user-info{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: center;
    width: 550px;

}

.change-user-info-image-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-user-info-profile-image{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}

.change-user-edit-image{
    width: 150px;
    height: 40px;
    margin: 5px 0px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1ad1d1;
    color: #fff;
    border: none;
}

.change-user-input
{
    margin: 10px 0px;
}

.change-user-input-textarea
{
 height: 30%;
}

.change-user-info-userInfo{
    display: flex;
    height: 100%;
    width: 250px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.change-user-time-text
{
    
    width: 90%;
    margin: 10px 0px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
}

.change-user-info-label
{
    font-weight: bold;
}

@media (max-width: 600px)
{
    .change-user-info {
        width: 100%;
    }
    .change-user-list {
        width: 100%
    }
}