.root{
    height: 600px;
}

.group-settings{
    height: 300px;
    width: 50%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.add-pi-input{
    margin: 5px;
}

.add-place-input{
    margin: 5px;
}

.group-settings > h3{
    margin: 5px 0px;
}

.place-settings >h3{
    margin: 5px 0px;
}

.group-settings-select
{
    margin: 5px ;
}

.groups-review
{
    overflow-y: scroll;
    margin: 10px 0px;
}

.groups-review > article
{
    display: flex;
    margin: 5px 0px;
    
}

.groups-review > article > p
{
    display: flex;
    width: 60%;
    
}

.groups-review > article > button
{
    display: flex;
    justify-content: center;
    margin: 0px 2px;
    width: 20%;
    
}
.add-category
{
    height: 300px;
    width: 100%;
    padding: 10px 30px;
}

.category-container > h3{
    margin: 5px auto ;
}

.category-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.category-item
{
    display: flex;
    width: 100%;
    height: 80%;
    
}

.category-picture
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}
.category-name-input
{
    width: 100%;
    height: 20px;
    margin: 10px 0px;
}

.category-input-button
{
    margin: 0px auto ;
    height: 30px;
    width: 60px;  
}

.category-name
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin: 10px 10px;
}
.categories-group{
    display: flex;
    height: 100%;
    width: 30%;
    margin: 5px 10px;
    flex-direction: column;
}

.admin-panel
{
    display: flex;
}

.place-settings
{
    height: 300px;
    width: 50%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}